@import './reset';
@import './variables';
@import './mixins';

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #000;
  color: #fff;
}

.app-content {
  padding-top: 64px; // navbar height
}
