@import '../../styles/mixins';

.contact {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 80px 40px;
  background: #fff;
  color: #000;

  &_text {
    span {
      font-size: 12px;
      letter-spacing: 1px;
    }

    h2 {
      margin-top: 16px;
      font-size: 28px;
      line-height: 1.2;
    }
  }

  &_form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    input,
    textarea {
      width: 100%;
      border: none;
      border-bottom: 1px solid #ccc;
      padding: 8px 0;
      font-size: 14px;
    }

    small {
      color: red;
      font-size: 12px;
    }

    button {
      margin-top: 24px;
      align-self: flex-start;
      padding: 8px 32px;
      border: 1px solid #000;
      border-radius: 20px;
    }
  }

  &_row {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-right: 30px;

    @include mobile {
      margin-right: 0px;
      margin-top: 30px;
    }
  }

  &_input_row {
    display: flex;
    flex-direction: row;

    @include mobile {
      flex-direction: column;
    }
  }

  @include mobile {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}